@import "../../global.scss";

.about {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile{
       justify-content: space-between;
    }

    h1 {
        font-size: 50px;
        color: rgb(255, 255, 255);
        margin: 5px;
        text-shadow: 1.5px 1.5px 3px #000;
        overflow: hidden;
        margin-top: 60px;

        @include mobile{
            font-size: 28px;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            flex-direction: column;
            height: 100%;
        }

        .card {
            width: 250px;
            height: 65%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            transition: all 0.7s ease;

            @include mobile{
                height: 180px;
                margin: 8px 0;
            }

            &.featured {
                width: 480px;
                height: 70%;
                margin: 0 30px;

                @include mobile{
                    width: 250px;
                    height: 550px;
                    margin: 2px;
                }
            }

            &:hover {
                transform: scale(1.1);
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    &.left,&.right{
                        height: 25px;
                    }
                    &.user{
                        height: 60px;
                        width: 60px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin: 0 30px;

                        @include mobile{
                            width: 30px;
                            height: 30px;
                            margin: 5px;
                        }
                    }
                }
            }

            .center {
                padding: 15px;
                font-size: 12px;
                border-radius: 20px;
                background: rgb(240, 240, 240);

                @include mobile{
                    font-size: 10px;
                    padding: 5px;
                    margin: 6px;
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;

                h3 {
                    margin-top: 8px;

                    @include mobile{
                        font-size: 9px;
                        margin: 2px;
                    }
                }

                h4 {
                    background: -webkit-linear-gradient(135.8deg, rgb(80, 80, 80) 27.1%, rgb(153, 153, 153) 77.5%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                    @include mobile{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}