@import "../../global.scss";

.works {
    background: linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;


    .arrow{
        height: 50px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
            overflow: hidden;
        }
       
        &.left{
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right{
            right: 100px;
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile{
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
    
        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            
        
            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

                @include mobile{
                    width: 90%;
                    height: 180px;
                    margin: 5px 0;
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            border: 2px solid rgb(75, 75, 75);
                            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
                            background: -webkit-linear-gradient(135.8deg, rgb(255, 255, 255) 27.1%, rgb(214, 196, 198) 77.5%);
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @include mobile{
                                width: 20px;
                                height: 20px;
                            

                             img {
                                width: 16px;

                                @include mobile{
                                    width: 12px;
                                }
                            }
                        }
                    }

                        h2 {
                            font-size: 20px;
                            margin-top: 10px;

                            @include mobile{
                                overflow: hidden;
                                font-size: 13px;
                                margin-top: 0;
                            }
                        }

                        p {
                            font-size: 12px;
                            margin-top: 10px;

                            @include mobile{
                                display: none;
                            }
                        }

                        span {
                            font-size: 14px;
                            color: rgb(78, 78, 78);
                            margin-top: 16px;
                            font-weight: 600;
                            text-decoration: underline;

                            @include mobile{
                                overflow: hidden;
                                font-size: 8px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                img {
                    width: 400px;
                    transform: rotate(-10deg)
                }
                }
            }
        }
    }
}
