$mainColor: white;
$smokeColor:whitesmoke;
$gradientColor: -webkit-linear-gradient(135.8deg, rgb(26, 26, 29) 27.1%, rgb(111, 34, 50) 77.5%);

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

